.header {

width: 100%;
height:100vh;
display:flex;
justify-content: center;
align-items: center;
background-image: url("../../img/books.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}
.header .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.header .heading h1 {
  font-family: "Dancing script", cursive;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: rgb(133, 20, 20) 4px 4px;
}

.header .heading button {
  width: 250px;
  height: 65px;
  border-radius: 8px;
  margin-top: 10px;
  letter-spacing: 3px;
  background: blue;
  font-family: 'Courier New', Courier, monospace, cursive;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 5px;
  outline: none;
  border: 0.5px solid white;
  transition: all 0.3s ease-in-out;
}
.header .heading button a {
  text-decoration: wavy ;
  color: rgb(232, 112, 112);
}