/* Custom navbar styles - using more specific selectors to override Bootstrap */
.page-container .navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 70px;
  color: rgb(72, 38, 43);
  z-index: 1000;
  font-family: "Dancing script";
  background-color: transparent;
  border: black;
  box-shadow: #1a202c;
}

.page-container .navbar-brand {
  font-weight: 900;
  font-size: 1.5rem;
  font-family: "Dancing script", cursive;
}

.page-container .navbar-brand a {
  color: rgb(232, 10, 10);
  text-decoration-color: black;
}

.page-container .navbar-brand.scrolled a {
  font-weight: 900;
  font-size: 1.5rem;
  color: #1a202c;
}


.page-container .navbar.scrolled {
  background-color: rgb(29, 225, 29); 
  font-size:xx-large ;
  height: 150px;
  text-align: center;

}